# Environments
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# SQLite
*.db
*.sqlite3

# Node/Frontend
node_modules/
dist/
build/
.npm/

# IDEs
.idea/
.vscode/
*.swp
.DS_Store
